.container2 {
    float:left;
    width:100%;
    position:relative;
    right:35%;
    @media(max-width:800px) {
        right: auto;
    }
    .container1 {
        float:left;
        width:100%;
        background:$black;
        position:relative;
        right:35%;
        @media(max-width:800px) {
            right: auto;
        }
        .col1 {    
            position:relative;
            overflow:hidden;
            float:left;
            width:30%;
            left:70%;
            .inner {
                padding: 10px;
                ul {
                    margin-left: 20px;
                    padding-left: 0px;
                    li {
                        display: list-item;
                        list-style-type: square;
                        line-height: 18px;  
                    }
                }
            }
            @media(max-width:800px) {
                width: 100%;
                background-color: $black;
                padding-bottom: 0px;
                padding-top: 10px;
                left: auto;
            }
        }
        .col2 {
            position:relative;
            overflow:hidden;
            float:left;
            width:65%;
            left:72%;
            .inner {
                padding: 20px 0;
                ul {
                    margin-left: 20px;
                    padding-left: 0px;
                    li {
                        display: list-item;
                        list-style-type: square;
                        line-height: 18px;  
                    }
                }
            }
            @media(max-width:800px) {
                width: 100%;
                background-color: $white;
                padding: 0;
                padding-top: 10px;
                left: auto;
                h2, h4, p, ul {
                    padding: 0 20px;
                }
            }
        }
    }
}