.omega {
	table { 
		background-color: $white;
		margin-bottom: 20px;
		font-size: 11px;
		width: 100%;
	}
	thead { 
		background-color: rgba($black, 0.5);
		font-size: 1.3vw;
	}
	th, td {
		padding: 5px;
	}
/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/

	@media (min-width: 1100px) {
		thead {
			font-size: 16px;
		}
	}
	@media (max-width: 860px) {
		table {
			font-size: 10px;
		}
	}
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
			font-size: 12px;
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; 
			&:nth-of-type(even){
				background-color: rgba($black, 0.5);
				td {
					border-bottom: 1px solid rgba($black, 0.8);;
					color: $white;
				}
			}
		}
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
		}
		
		td:before { 
			
			display: inline-block;
			width: 50%; 
			padding-right: 10px; 
			white-space: nowrap;

		}
		
		
		
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
}